[Unit]
Description=Daphne for CheckAvto Django Channels
Requires=avto-chat.socket
After=network.target

[Service]
Type=notify
User=www-data
Group=www-data
WorkingDirectory=/var/www/CheckAvtoServiceAPIes
ExecStart=/var/www/CheckAvtoServiceAPIes/env/bin/daphne \
    -u /run/avto/avto-chat.sock \
    config.asgi:application

# Restart policy
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
