[Unit]
Description=CheckAvto Daphne WebSocket socket

[Socket]
ListenStream=/run/avto/avto-chat.sock
# Socket permissions
SocketUser=www-data
SocketMode=0660

[Install]
WantedBy=sockets.target
